<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php" colors="true">
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
            <exclude>
                <directory>./vendor</directory>
                <directory>./tests</directory>

                <file>./src/FixerMagicTrait.php</file>
                <file>./src/FixerStaticProxy.php</file>
                <file>./src/FixerTrait.php</file>
                <file>./src/NullCollection.php</file>

                <file>./src/Metadata/DoctrineClassMetadataFactory.php</file>
                <file>./src/Metadata/DoctrineProxyLoader.php</file>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-clover" target="./coverage.xml"/>
    </logging>

    <testsuites>
        <testsuite name="Relationship Fixer Test Suite">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>

    <php>
        <ini name="date.timezone" value="UTC"/>
    </php>
</phpunit>
